@font-face { 
  font-family: 'AachenBT'; 
  src: url('aachenn.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
body{
	background-color:#1d1d23;
}
header{
	max-width: 1440px;
	min-height: 854px;
	background-image: url('header-bg.jpg');
	background-repeat: no-repeat;
	margin: 0 auto;
	border-left:1px solid #e58f00;
	border-right:1px solid #e58f00;
	
}

.wrap{
	max-width: 1440px;
	margin: 0 auto;
}
nav{
	padding: 0 172px 0 85px;
}
nav ul{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
	min-height: 160px;
}
.logo{
	flex-grow: 1;
	display: flex;
	justify-content: center;
}
.mobile-logo{
	display: none;
}
nav ul li {
	margin:0 25px;
}
nav ul li:last-child{
	display: none;
}
nav ul li a {
	color: #fff;
	font-size: 16px;
	font-family: 'AachenBT';
	text-transform: uppercase;
}
.menuButton{
	display: none;
	border: none;
	border-bottom: 2px solid #e58f00;
	outline: none;
	background: no-repeat;
	width: 30px;
}
.menuButton:hover::after{
	transform: rotate(-180deg);
	transition:1s transform ease;
}
.menuButton:hover::before{
	transform: rotate(180deg);
	transition:1s transform ease;
}
.menuButton::before{
	content: '';
	display: block;
	position: absolute;
	border-bottom: 2px solid #e58f00;
	bottom: 10px;
	left: 0;
	width: 30px;
}
.menuButton::after{
	content: '';
	display: block;
	position: absolute;
	border-bottom: 2px solid #e58f00;
	top: 10px;
	left: 0;
	width: 30px;
}
.head-cont{
	display: flex;
	justify-content: flex-start;
	align-self: center;
	flex-direction: row;
	min-height: 692px;
}
.himage-box{
	margin-left: 42px;
	display: flex;
	align-items: center;
	align-content: center;
}
.hcont-box{
	max-width: 522px;
	margin-left: 60px;
}
.hcont-box h1{
	color: #e58f00;
	font-size: 66.67px;
	font-family: 'AachenBT';
	margin-top: 146px;
}
.hcont-box p{
	color: #fff;
	font-size: 25px;
	font-family: 'AachenBT';
	margin: 40px 0 32px 0;
}
.hcont-box button{
	width: 200px;
	height: 70px;
	text-align: center;
	color: #000;
	font-size: 25px;
	font-family: 'AachenBT';
	background-color: #e58f00;
	border-radius: 5px;
	outline: none;
	border:none;


}
.about .wrap{
	margin: 0 auto;
	max-width: 1440px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 120px 0 77px 0;
}
.about-image{
	max-width: 646px;
	max-height: 645px;
		border: 1px solid #e58f00;

}
.about-image img{
	width: 100%;
	height: 100%;
}
.about-content{
	max-width: 528px;
	margin-left: 48px;

}
.about-content h2{
color: #fff;
	font-size: 50px;
	font-family: 'AachenBT';
	padding: 41px 0;
}
.about-content p{
	color: #fff;
	font-size: 33px;
	font-family: 'AachenBT';
}
.our-food{
	max-width: 1440px;
	margin:0 auto;
	min-height: 1826px;
		background-image: url('Shape.png');
	background-position: 34% 130px;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}
.food-cont{
	max-width: 520px;
	margin-left: 200px;
	padding-top: 502px;
	position: relative;
}
.our-food img{
	position: absolute;
}
.strawbery{
	max-width: 791px;
	max-height: 791px;
	right: -25%;
	top: 0;
}
.egg{
	max-width: 895px;
	max-height: 1035px;
	right: -1%;
	bottom: 59px;
	transform: rotate(34deg);
}
.mix-dish{
	max-width: 606px;
	max-height: 606px;
	left: -6%;
	bottom: 2%;
}
.food-cont h3{
	color: #fff;
	font-size: 50px;
	font-family: 'AachenBT';
}
.food-cont p{
		color: #fff;
	font-size: 33px;
	font-family: 'AachenBT';
}
.gallery-food{
max-width: 1440px;
margin:0 auto;
text-align: center;
padding-bottom: 180px;
}
.gallery-food h3{
	padding: 180px 0 85px 0;
	color: #fff;
	font-size: 50px;
	font-family: 'AachenBT';
}
.gallery-food ul{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}
.gallery-food ul li{
	max-width: 407px;
	max-height: 482px;
	padding:15px 33px;
}
.gallery-food ul li img{
	width: 100%;
	height: 100%;
}
.Enjoy-Our-Food{
	margin: 0 auto;
	background-image: url('Enjoy-Our-Food.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
}
.Enjoy-Our-Food-Cont{
	text-align: center;
	max-width: 726px;
	width: 100%;
	min-height: 574px;
	border: 10px solid #e58f00;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin: 193px 357px;
	background-color: #1e1f25;
}
.Enjoy-Our-Food-Cont h3{
color: #fff;
	font-size: 50px;
	font-family: 'AachenBT';
}
.Enjoy-Our-Food-Cont p{
	color: #fff;
	font-size: 33px;
	font-family: 'AachenBT';
	max-width: 528px;
	margin-top:32px; 

}
.Our-Menu{
	max-width: 1440px;
	margin: 0 auto;
	padding: 180px 0 196px 0;

}
.Our-Menu h3{
	text-align: center;
	color: #fff;
	font-size: 50px;
	font-family: 'AachenBT';

}
.Our-Menu ul{
	padding-top: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.Our-Menu ul li{
	margin: 0 23px;
	max-width: 407px;
}
.Our-Menu ul li img{
	padding-bottom: 46px;
}
.Our-Menu ul li p:nth-child(2){
	color: #e58f00;
	font-size: 29px;
	font-family: 'AachenBT';
}
.Our-Menu ul li p:nth-child(3){
	color: #fff;
	font-size: 16px;
	font-family: 'AachenBT';
	padding: 24px 0;
}
.Our-Menu ul li span:nth-child(4){
	color: #e58f00;
	font-size: 25px;
	font-family: 'AachenBT';
}
.Enjoy-Best-Meal{
	background-color: #e58f00;
	position: relative;
}
.Enjoy-Best-Meal .wrap{
	display: flex;
	justify-content: center;
	align-content: center;
}
.Enjoy-Best-Meal h4{
		color: #fff;
	font-size: 50px;
	font-family: 'AachenBT';

}
.Enjoy-Best-Meal p{
		color: #fff;
	font-size: 33px;
	font-family: 'AachenBT';
	
}
.Enjoy-Best-Meal .wrap{
position: relative;
}
.Enjoy-Best-Meal-Cont{
	min-height: 504px;
	max-width: 528px;
	margin-left: 528px;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}
.Enjoy-Best-Meal-Cont img{
	max-width: 635px;
	max-height: 636px;
	position: absolute;
	top:-60px;
	left: 0;
}
@media (max-width: 1439px) {
	nav{
		padding: 0 85px 0 85px;
	}
	.head-cont{
		justify-content: space-around;
	}
	.himage-box{
		margin-left: 0;
	}
	.hcont-box{
		margin-left: 0;
	}
	.strawbery{
		width: 53%;
	}
	.egg{
		width: 56%;
	}
	.Enjoy-Our-Food-Cont{
		    margin: 193px auto;
		    padding: 50px;
	}
	.Enjoy-Best-Meal-Cont img{
		width: 43%;
	}
	.Enjoy-Best-Meal-Cont{
		min-height:480px;
	}

}
@media (max-width: 1365px) {
	.Our-Menu ul li{
		margin: 30px 23px;
	}
	.food-cont{
		margin-left: 140px;
	}
	.egg{
		bottom:190px;
	}
	.mix-dish{
		width: 44%;
	}
		.Enjoy-Best-Meal-Cont{
		min-height:440px;
	}


}
@media (max-width: 1279px) {
	nav{
		padding: 0;	
	}
	.logo{
		flex-grow: 0;
	}
	.himage-box img{
		width: 90%;
		padding: 10px;
	}
	.hcont-box p{
		width: 90%;
		font-size: 20px;
	}
	.hcont-box h1{
		width: 90%;
		font-size: 50px;
	}
	.about-image{
		margin: 20px;
		width: 40%;
	}
	.about-content h2{
		font-size: 40px;
	}
	.about-content p{
		font-size: 20px;
	}
	.about-content{
		margin: 30px;
	}
	.our-food{
		display: none;
	}
	.food-cont{
		margin-left: 100px;
		padding-top: 300px;
		width: 40%;
	}
	.egg{
		bottom: 36%;
	}
	.mix-dish{
		bottom: 30%;
	}
	.food-cont p{
		font-size: 20px;
	}
	.Enjoy-Best-Meal-Cont{
		min-height:330px;
	}
	.Enjoy-Our-Food-Cont{
		min-height: 450px;
		width: 80%;
	}
	.Enjoy-Our-Food-Cont p{
		font-size: 20px;
	}
	.gallery-food h3{
		padding: 85px 0 85px 0;
	}
	.Enjoy-Best-Meal-Cont{
		margin-left: 47%;
		min-height: 230px;
	}
	.Enjoy-Best-Meal p{
		font-size: 20px;
	}


}
@media (max-width: 1024px) {
	.gallery-food h3{
		font-size: 40px;
	}
	.about-content h2{
		font-size: 40px;
	}
	.gallery-food h3{
		font-size: 40px;
	}
	.Enjoy-Our-Food-Cont h3{
		font-size: 40px;
	}
	.Our-Menu h3{
		font-size: 40px;
	}
	.Our-Menu ul{
		padding-top: 36px;
	}
	.Enjoy-Best-Meal h4{
		font-size: 40px;
	}
	.gallery-food ul li{
		width: 50%;
	}
}

@media (max-width: 768px) {
	header{
		max-height: 640px;
		min-height: inherit;
	}
	header .wrap{
		position: relative;
	}
	.logo{
		display: none;
	}
	.mobile-logo{
		display: block;
		position: absolute;
		top: 28px;
		left: 80px;
	}
	nav{
		position: fixed;
		display: none;
		left:38%;
		top: 30px;
		border: 1px solid #e58f00;
		padding:50px;
		background: rgba(0,0,0,0.9);
	}
	nav ul{
		flex-direction: column;
	}
	nav ul li{
		margin: 10px 0;
	}
	nav ul li:last-child{
		display: flex;
	}
	.menuButton{
		display: block;
		position: absolute;
   		right: 80px;
    	top: 50px;
	}

}
@media (max-width: 767px) {
.mobile-logo{
	left: 30px;
}
.menuButton{
	right: 44px;
	top: 86px;
}
.hcont-box h1{
	font-size: 20px;
	margin-top: 20px;
}



.hcont-box{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.hcont-box p{
	font-size: 12px;
}
.head-cont{
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	text-align: center;
}
.hcont-box button{
	font-size: 12px;
	width: 100px;
	height: 35px;
}
nav{
	left: 24%;
}
.about .wrap{
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	padding: 30px 0 0px 0;
}

.about-content h2{
	font-size: 20px;
	padding: 20px 0;
}
.about-content p{
	font-size: 12px;
}
.gallery-food{
	padding-bottom: 0;
}
.gallery-food h3{
	font-size: 20px;
}
.gallery-food ul{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.gallery-food ul li{
	width: 100%;
}
.Enjoy-Our-Food-Cont h3{
	font-size: 20px;
}
.Enjoy-Our-Food-Cont p{
	font-size: 12px;
}
.Our-Menu{
	padding: 85px 0 85px 0;
}
.Our-Menu h3{
	font-size: 20px;
}
.Our-Menu ul li{
	text-align: center;
}
.Our-Menu ul li img{
	width: 100%;
}
.Our-Menu ul li p:nth-child(2){
	font-size: 20px;
}
.Our-Menu ul li p:nth-child(3){
	font-size: 12px;
}
.Our-Menu ul li span:nth-child(4){
	font-size: 12px;
}
.Enjoy-Best-Meal-Cont img{
	display: none;
}
.Enjoy-Best-Meal-Cont{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 10px;
	text-align: center;

}
.Enjoy-Best-Meal h4{
	font-size: 20px;
}
.Enjoy-Best-Meal p{
	font-size: 12px;
}
}